.heading-img img {
  z-index: -1;
  width: 35vmax;
  align-items: center;
  justify-content: center;
  display: block;
  overflow: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Jost", sans-serif;
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
}

.content-head-text {
  font-weight: 900;
  font-size: 4.7vmax;
  line-height: 6vmax;
  margin-bottom: 0px;
  margin-top: 1vmax;
}

.content-sub-head-text {
  font-weight: 400;
  font-size: 1.5vmax;
  margin: 1.5vmax 0vmax;
  color: #2d2d2d;
}

.btn-container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-top: 0px;
}

#btn-knowMore {
  margin-left: 1vmax;
  height: 100%;
}

@media screen and (max-width: 515px) {
  .heading-img {
    display: none;
  }

  .main-box {
    margin-top: 10vmax;
    margin-left: 0px;
    margin-right: 0px;
  }

  .content-text {
    text-align: center;
  }

  .content-head-text {
    margin-top: 1vmax;
  }

  .content-sub-head-text {
    text-align: justify;
  }

  .btn-container {
    justify-content: center;
  }

  .heading {
    justify-content: center;
  }
}

/*  iPads, Tablets */
@media screen and (min-width: 515px) and (max-width: 768px) {
  .heading-img {
    display: none;
  }

  .main-box {
    margin-top: 10vmax;
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .heading-img {
    display: none;
  }

  .main-box {
    margin-top: 7vmax;
  }
}

/* Desktops, large screens */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .heading-img {
    display: none;
  }

  .main-box {
    margin-top: 7vmax;
  }
}

/* Support */
.support {
  --var-x: 100px;
  padding-left: calc(var(--var-x) / 2);
  padding-right: calc(var(--var-x) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5vmax 0px;
  font-family: "Poppins", sans-serif;
  background-color: #fbfbfb;
}

.support-heading,
.support-heading span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.7vmax;
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.img-container-company {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vmax;
  height: 10vmax;
}

.img-container-company img {
  width: 15vmax;
  margin: 1vmax;
  transition: all ease 1s;
}

.img-container-company img:hover {
  width: 20vmax;
}

.support-head-2 {
  font-size: 3vmax;
  font-weight: 600;
  line-height: 3.7vmax;
  margin-top: 2vmax;
  margin-right: 15vmax;
}

.support-sub-head-2 {
  font-size: 1.4vmax;
  margin: 1vmax 0vmax;
}

.support-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suppport-img-div-1 {
  display: flex;
}

.support-img-internal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.supportImg4 {
  width: 41vmax;
}

.supportImg1 {
  width: 20vmax;
}

.supportImg2 {
  width: 20vmax;
}

.supportImg3 {
  width: 20vmax;
}

.img-support-individual {
  margin: 0.6vmax;
}

.support-content ul li {
  font-size: 1.5vmax;
  font-weight: 500;
}

.support-content ul li {
  margin: 1vmax 0;
}

@media screen and (max-width: 515px) {
  .img-container-company {
    flex-direction: column;
    margin: 0px;
    margin-top: 15vmax;
    margin-bottom: 20vmax;
    align-items: center;
    width: 20vmax;
  }

  .img-container-company img {
    margin-top: 5vmax;
    width: 25vmax;
  }

  .supportImg1,
  .supportImg2,
  .supportImg3 {
    display: none;
  }

  .support-2 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .support-head-2 {
    margin-right: 15vmax;
    margin-top: 1vmax;
    margin-left: 15vmax;
  }

  .support-content ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2vmax 14vmax;
  }

  .supportImg4 {
    margin: 5vmax;
  }
}

/*  iPads, Tablets */
@media screen and (min-width: 515px) and (max-width: 768px) {
  .img-container-company {
    width: 60vmax;
  }
}

/* progress */
.progress-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vmax 0 20vmax 0vmax;
}

.progress-img {
  margin-top: 10vmax;
  display: flex;
  justify-content: center;
  position: relative;
  width: 70vmax;
  border-radius: 13px;
  align-items: center;
  overflow: hidden;
}

.progress-content {
  display: flex;
  border: solid;
  justify-content: space-around;
  align-items: center;
  width: 60vmax;
  padding: 4vmax 0rem;
  color: white;
  background-color: #3481f5;
  border-color: #3481f5;
  border-radius: 40px;
  position: absolute;
  margin-top: 40vmax;
}

.progress-content-head {
  font-size: 3vmax;
  font-weight: 500;
}

.progress-content-sub-head {
  font-size: 1.5vmax;
  padding: 0 1vmax;
  text-align: center;
}

.first,
.second,
.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 515px) {
  .progress-img {
    display: none;
  }

  .progress-1 {
    margin: 10vmax 20vmax 55vmax 20vmax;
  }

  .progress-content {
    flex-direction: column;
    width: 30vmax;
  }

  .first,
  .second,
  .third {
    margin: 3vmax 0 3vmax 0;
  }

  .progress-content-sub-head {
    margin: 0 5vmax;
  }
}

/* contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7vmax 0;
}

.contact-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vmax;
  margin-left: 0;
  margin-right: 5vmax;
  position: relative;
}

.dots {
  width: 20vmax;
  z-index: -1;
  margin: 0;
  padding: 0;
}

.officeImg {
  position: absolute;
  border-radius: 10px;
  z-index: 1;
  width: 30vmax;
}

.rectangle {
  z-index: -1;
  width: 20vmax;
  display: flex;
  justify-content: flex-end;
  margin: 0 1vmax 0 20vmax;
}

.contact-content-head {
  font-size: 3.5vmax;
  font-weight: 700;
  line-height: 3vmax;
  margin-bottom: 2vmax;
}

.contact-content-sub-head {
  font-size: 1.5vmax;
}

@media screen and (max-width: 515px) {
  .contact-img {
    display: none;
  }

  .contact-content-head {
    text-align: center;
    margin: 5vmax 5vmax;
  }

  .contact-content-sub-head {
    text-align: center;
    margin: 0 4vmax 2vmax 4vmax;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*  iPads, Tablets */
@media screen and (min-width: 515px) and (max-width: 768px) {
  .contact-img {
    display: none;
  }

  .contact-content-head {
    text-align: center;
    font-size: 5vmax;
    margin: 0 5vmax 2vmax 5vmax;
    line-height: 35px;
  }

  .contact-content-sub-head {
    text-align: center;
    font-size: 2vmax;
    margin: 1vmax 4vmax 2vmax 4vmax;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}